doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/profile.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        h1 Bizning profile sahifamizga xush kelibsiz
        marquee PROFILE make by RedWolf Team: Zemeister,Zakari,Behruz,Shohnur

        block content





     block content