doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/profile.css')

    body
        h1 Bizning profile sahifamizga xush kelibsiz
        marquee developed by zakari

        block content





     block content